docker {
    enabled = true
}

process {
    withName: sequenza_analysis {
        container = 'sequenza-pipeline'
        containerOptions = '-e BASE_DIR=/data/sarek-output -e SEQUENZA_OUTPUT=/data/sequenza-output -e REFERENCE_FASTA=/ref/index/hg19.fa -e GC_WIGGLE=/ref/sequenza-GC-wiggle/hg19.gc50Base.wig.gz -e THREADS=8 -v /home/obiorach/test-work-sarek/WES-DNPM-RESULTS/preprocessing/recalibrated:/data/sarek-output:ro -v /home/obiorach/whole-Exon-single-seq/ref-genome:/ref:ro -v /home/obiorach/test-work-sarek/WES-DNPM-RESULTS/sequenza-output:/data/sequenza-output --user root --entrypoint=""'
        cpus = 8
        memory = '16 GB'
        time = '24 h'
    }

    withName: mutational_signature {
        container = 'sigprofiler-env'
        cpus = 4
        memory = '8 GB'
        time = '12 h'
    }

    withName: tmb_calculation {
        cpus = 2
        memory = '4 GB'
        time = '6 h'
    }
}

params {
    outdir = 'results'
}
