profiles {
    singularity {
        singularity {
            enabled = true
            autoMounts = true
            runOptions = "--bind /home/obiorach/test-work-sarek/WES-DNPM-RESULTS/preprocessing/recalibrated:/data/sarek-output --bind /home/obiorach/whole-Exon-single-seq/ref-genome:/ref -->
        }
        process {
            withName: sequenza_analysis {
                container = './containers/sequenza-pipeline.sif'
                cpus = 8
                memory = '16 GB'
                time = '24h'
            }
            withName: sequenza_cnv_hrd_analysis {
                container = './containers/sequenza-pipeline.sif'
                cpus = 8
                memory = '16 GB'
                time = '12h'
            }
            withName: mutational_signature {
                container = './containers/sigprofiler-env.sif'
                cpus = 4
                memory = '8 GB'
                time = '12h'
                env.MPLCONFIGDIR = '/tmp'
            }
            withName: tmb_calculation {
                cpus = 2
                memory = '4 GB'
                time = '6h'
            }
        }
        params {
            outdir = 'WES-DNPM-RESULTS'
        }
    }
}
